<html>
<head>
    <title> <%= title %></title>
    <link rel='sytlesheet' href='/sytlesheet/style.css' />
</head>
</body>
    <h1><%= title%><h1>
    <div class='navbar'>
    <p>
        <a href='/'>Home</a>
        <a href='fibonacci'>Fibonacci</a>
    </p>
    </div>
